body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u4948 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:110px;
  width:150px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u4948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4948_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:2px;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:188px;
  width:267px;
  height:1px;
  display:flex;
}
#u4949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u4950 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:168px;
  width:200px;
  height:19px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u4950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4950_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 31, 57, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 2px 5px rgba(247, 31, 57, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(247, 31, 57, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(247, 31, 57, 0.349019607843137);
}
#u4951 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:217px;
  width:267px;
  height:37px;
  display:flex;
}
#u4951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4951_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 31, 57, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 2px 5px rgba(247, 31, 57, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(247, 31, 57, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(247, 31, 57, 0.349019607843137);
}
#u4951.mouseDown {
  opacity:0.75;
}
#u4951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4952 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:162px;
  width:31px;
  height:25px;
}
#u4952_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4952_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u4953 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:20px;
  height:15px;
  display:flex;
}
#u4953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4952_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4952_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u4954 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:20px;
  height:15px;
  display:flex;
}
#u4954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4955 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:300px;
  width:182px;
  height:55px;
  display:flex;
  color:#FFFFFF;
}
#u4955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4956 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:18px;
  width:15px;
  height:15px;
  display:flex;
}
#u4956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
